# List files that should not be committed
.*swp
.*swo
.*swn
*~

# Configure time
/Makefile
aclocal.m4
autom4te.cache
config.log
config.status
setup/config.fh
setup/config.h
setup/constants.h
setup/constants_tomography.h
setup/precision.h
setup/version.fh

# Build time
bin/
obj/
OUTPUT_FILES/*
DATABASES_MPI/*
EXAMPLES/
tests/
DATA/PPM/MITS_ppm*.txt
DATA/crustmap/eucrust_default/

# Documentation
doc/USER_MANUAL/figures/*-eps-converted-to.pdf

# Other
slice*.txt
VTK_OUTPUT/

